@model First3.Models.Employee

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_SideBar")

<!---->
<br />
<div class="row">
    <div class="col-1">
        <a href="../Index">
            <i class="fas fa-arrow-circle-left fa-3x"></i>
        </a>
    </div>
    <div class="col-11" style="margin: 15px auto;">


    </div>
</div>
<br />
 


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |

</p>
