@model First3.Models.Department

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_SideBar");

<br />
<div class="row">
    <div class="col-1">
        <a href="../Index">
            <i class="fas fa-arrow-circle-left fa-3x"></i>
        </a>
    </div>
    <div class="col-11" style="margin: 15px auto;">


    </div>
</div>
<br />
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        
    </dl>
</div>
<img src="~/ImagesDepartments/@Html.ValueFor(model => model.ImageUrl)" />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }) |

</p>
@Html.Partial("EmplyeesByDepartment", Model.Employees)
