@model IEnumerable<First3.Models.Department>
@using First3.Models

@{ //Layout = null;
    ViewBag.Title = "Index";
}
@Html.Partial("_SideBar");

<br />
<div class="row">
    <div class="col-11">

    </div>
    <div class="col-1" style="margin: 15px auto;">
        @*<a href="../Departments/Create">
                <i class="fas fa-plus-circle fa-3x"></i>
            </a>*@
        <a href="#" data-toggle="modal" data-target="#myModalCreate">
            <i class="fas fa-plus-circle fa-3x"></i>
        </a>
    </div>
</div>
<br />
@*<link href="~/Content/StyleTable.css" rel="stylesheet" />
    <link href="~/Content/media1/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Content/media1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#example").dataTable();
        });
    </script>


    <article class="module width_full article">
        <div class="module_content">
            <table id="example" class="display" cellspacing="0" style="width:100%">*@

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.DepartmentID">
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <img src="~/ImagesDepartments/@item.ImageUrl" />
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })*@
                <a href="#" id="@item.DepartmentID" onclick="EditPopup(@item.DepartmentID)">Edit</a>
                <a href="#" id="@item.DepartmentID" onclick="DetailsPopup(@item.DepartmentID)">Details</a>
                <a href="#" id="@item.DepartmentID" onclick="Delete(@item.DepartmentID)">Delete</a>
                @item.DepartmentID

            </td>
        </tr>


    }
</table>
@*</table>
        </div>
    </article>*@


<!-- button -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModalCreate">
    Open modal
</button>

<!-- start modal create -->
<div class="modal fade" id="myModalCreate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">


                @*@Html.Action("DetailsPopup", "Departments", new { area = "/1" })*@

                @Html.Action("Createe", "Departments")

                @*@Html.Partial("DetailsPopup",item)*@




            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal create-->
<!-- start modal details -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="detailsPopup">


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal details-->
<!-- start modal delete -->
<div class="modal fade" id="myModalDelete">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Are You want to delete this!

                @*@Html.Action("DetailsPopup", "Departments", new { id = 3 })*@


                @*@Html.Action("Createe", "Departments")*@

                @*@Html.Partial("DetailsPopup",item)*@




            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="DeleteConfirmed()">Delete</button>

            </div>
        </div>
    </div>
</div>
<!-- end modal delete-->
<!-- start modal edit -->
<div class="modal fade" id="myModalEdit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="editPopup">
                Are You want to delete this!

                @*@Html.Action("DetailsPopup", "Departments", new { id = 3 })*@


                @*@Html.Action("Createe", "Departments")*@

                @*@Html.Partial("DetailsPopup",item)*@




            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="DeleteConfirmed()">Delete</button>

            </div>
        </div>
    </div>
</div>
<!-- end modal edit -->

<script>
    //$(document).ready(function () {

    //})
    // delete Get
    var DepartmentId = null;
    var Delete = function (DepartmentID) {
        DepartmentId = DepartmentID;
        /////
        //$.ajax({
        //    type: "get",
        //    url: "../Departments/Delete",
        //    data: { id: DepartmentId },
        //    success: function () {

        //        $("#myModalDelete").modal("show");
        //    }
        //})
        /////
        $("#myModalDelete").modal("show");
    }
    // delete post
    var DeleteConfirmed = function () {
        $.ajax({
            type: "post",
            url: "../Departments/Delete",
            data: { id: DepartmentId },
            success: function () {

                $("#myModalDelete").modal("hide");
                $("#row_" + DepartmentId).remove();
            }
        })
    }//end delete
    //  get details
    var DetailsPopup = function (DepartmentID) {

        /////
        var url = "../Departments/DetailsPopup/" + DepartmentID;
        $("#detailsPopup").load(url, function () {
            $("#myModal").modal("show");
        })
        //$.ajax({
        //    type: "post",
        //    url: url,
        //    data: { id: DepartmentID },
        //    success: function (response) {
        //        console.log(url);
        //        $("#detailsPopup").html(response);
        //        $("#myModal").modal("show");
        //    }
        //})

    }//end details
    //  get edit
    var EditPopup = function (DepartmentID) {

        /////
        var url = "../Departments/EditPopup/" + DepartmentID;
        $("#editPopup").load(url, function () {
            $("#myModalEdit").modal("show");
        })
        // edit post
        //var DeleteConfirmed = function () {
        //    $.ajax({
        //        type: "post",
        //        url: "../Departments/Delete",
        //        data: { id: DepartmentId },
        //        success: function () {

        //            $("#myModalEdit").modal("hide");
        //            $("#row_" + DepartmentId).remove();
        //        }
        //    })
        //}
    }//end edit
</script>